/*HEADER HEADER HEADER*/  /*MOBILE FIRST*/ /*BOOTSTRAP*/

.main__header{
    max-width: 100%;
    }
    
    .items h2{
        margin-top: 60px;
    }
    
    .color-nav{
        background-color: #b9676a;
    }
    
    .navbar-brand{
        font-size: 6rem;
        padding-right: 60px; 
        font-family:  sans-serif;       
    }
    
    
    
    
    .nav-link{
        font-size: 2rem;
        margin-right: 40px;
    }
    
    .dropdown-menu{
    font-size: 1.5rem ;
    }
    
    .search{
        height: px ;
    }
    
    .btn-outline-success{
    
        color: black;
        border: solid black 1px;
    }
    .btns{
        margin-right: 130px;
        height: 30px;
    }
    
    @media   (min-width:991px) { .navbar-brand {    /*MEDIA*/
            margin-left: 120px; 
        }
    }
        
    
    /*HEADER HEADER HEADER*/
    
    
    
    
    
    
    /*SECTION SLIDER*/
    
    
    .carousel.slide {
        max-width: 1100px;
        margin: 0 auto;
        box-shadow:  0 0 0 10px aliceblue,
                0 15px 50px;
    }
    
    
    /*SECTION SLIDER*/
    
    
    
    
    /*SECTION*/
    
    
    .items{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: aliceblue;
        font-size: 1.5rem;
    }
    
    .aside__principal ul{
        display: flex;
        justify-content: space-evenly;
        font-size: 1rem;
        background-color: aliceblue; 
        padding: 3px 3px 3px 3px;   
    }
    
    .aside__principal ul li a{
        background-color: rgb(219, 205, 205);
        padding: 3px;
        border-radius: 7px;
    }
    
    .aside__principal h3{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    }
    
    .padre__cards{
        display: grid;    
        grid-template-columns: 1fr 1fr;
    }  
    
    @media screen and (min-width:767px) {.padre__cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;   
        max-width: 60%;
        margin: 0 auto;
        
    }  }
    
    .sheer__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        font-size: 1.5rem;
    }
    
    .sheer__card .p__cuotas{
        border: solid 1px;
        padding: 5px;
        margin: 5px;
        color: #b9676a;
        text-align: center;
    }
    
    .button__card{
        color: aliceblue;
        background-color: #b9676a;
        padding: 9px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 2px;
    }
    
    .button__card:hover{
        background-color: rgb(163, 19, 65);
    }
    
    /*SECTION*/
    
    
    
    
    
    /*FOOTER*/
    
    #pie__pagina{
        display: grid;    
        background-color: #b9676a;
        justify-content: lef;
        padding-left: 3rem;
        
        
    }
    
    #pie__pagina .grupo__uno .box figure{
    display: flex;
    padding: 3rem;
    justify-content: center;
    }
    
    .box h3{
        font-size: 2rem;
        padding: 1rem;
    
    p {
        font-size: 1.8rem;
        padding: 1rem;
    }
    }
    
    
    .box .redsocial__footer a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: white;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: pink;
        text-align: center;
        transition: all 300ms ease;  
        border-radius: 70px; 
    }   
    
    .box .redsocial__footer a:hover{
        color: black;
        
    }
    
    .grupo__dos{
        font-size: 1.2rem;
        padding: .5rem;
        text-align: center;
        justify-content: center;
        
    }
    
    .box .topmail__footer input{
        margin-bottom: 20px;
        height: 30px;
        width: 200px;
    }
    
    .plane{
        font-size: 14px;
    }