.faqs{
    padding: 5rem;
    text-align: left;
    font-family: sans-serif;
    width: 100%;

h2{
    font-size: 3rem;
    padding-bottom: 3rem;
}

li{
    font-size: 2rem;
    list-style: disc;
    width: 100%;
    
}

b{

    font-size: 2rem;
}
}

.faqsp{
    font-size: 2rem;
    padding-bottom: 3rem;
}







